# Exemplo de arquivo de variáveis de ambiente para o projeto IPC4 API de Clientes

# Porta em que a API será executada
PORT=3000

# URL de conexão com o MongoDB
MONGODB_URI=mongodb://localhost:27017/clientes_db

# Defina NODE_ENV como development, test ou production conforme necessário
NODE_ENV=development
